<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Website</title>
    {% endif %}
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
  </head>
  <body>
    <div>Website: <a href="/index">Home</a></div>
    {% if user %}
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/create">Create an Account</a>
     <a href="/login">Login</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
