{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table class="table-bordered">
      <tr>
	<td>Class</td>
	<td>Period</td>
	<td>Teacher</td>
	<td>Adds</td>
	<td>Drops</td>
	<td>Net Difference</td>
      </tr>
      {% for class in school_classes %}
      <tr>
	<td>{{ class.name }}</td>
	<td>{{ class.period }}</td>
	<td>{{ class.teacher }}</td>
	<td>{{ class.adds.all()|length }}</td>
	<td>{{ class.drops.all()|length }}</td>
	<td>{{ class.adds.all()|length - class.drops.all()|length }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>

{% endblock %}
