{% extends "base.html" %}

{% block content %}
<center>
<div id="container">
  <h1>Welcome to Drop N' Swap</h1>
  <br>
  <p>Program changes frustrating? Know before you go!</p>
  <div id="about">
  	<h2>About Drop N' Swap</h2>
  	<p>Drop N' Swap is a product made <strong>by</strong> and <strong>for</strong>
  	students. Here at Drop N' Swap, we know the struggle of schedule changes all too well- the dread of not knowing if your class is full, or the worry of not being able to find someone willing to swap classes.</p>
  	<p>But it's time to worry no more. Literate Spork provides a simple, easy to use 
  	platform where students can search for other students also hoping to swap their classes.</p>
  </div>
  <div id="use">
  	<h2>Use Drop N' Swap</h2>
  	<p>Drop N' Swap is simple and easy to use! All you need to do is sign up for an account and you're ready to begine. Once you login, you will be able to view all classes and see how many students wish to add or drop each class. You will also be able to request to add or drop a class by filling out a form. Soon, you will be able to contact people who wish to drop the class you want to add.</p>
  </div>
</div>
</center>
{% endblock %}
