{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container">
  
  <center><h1>Log In</h1></center>
  
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form action="" method="post" name="login">
      {{ login_form.hidden_tag() }}
      
      <p>
	{{ macros.render_field(login_form.username, "Username") }}
      </p>
    
      <p>
	{{ macros.render_field(login_form.password, "Password") }}
      </p>
      
      <p>{{ macros.render_field(login_form.submit, "Log in") }}</p>
      
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
{% endblock %}
