{% extends "base.html" %}

{% block content %}
    <h1>Log In</h1>
    <form action="" method="post" name="login">
      {{ login_form.hidden_tag() }}
      
      <p>
	{% if login_form.username.errors %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">
	{% endif %}
	  <label for="username">Username:</label><br>
          {{ login_form.username }}<br>
  	  {% if login_form.username.errors %}
	  <span class="help-block">{{ login_form.username.errors[0] }}</span>
	  {% endif %}
	</div>
      </p>
      
      <p>
	{% if login_form.password.errors %}
	<div class="form-group has-error">
	{% else %}
	<div class="form-group">
	{% endif %}
	  <label for="password">Password:</label><br>
          {{ login_form.password }}<br>
  	  {% if login_form.password.errors %}
	  <span class="help-block">{{ login_form.password.errors[0] }}</span>
	  {% endif %}
	</div>
      </p>
      
      <p>{{ login_form.submit(value="Log in") }}</p>
      
    </form>
{% endblock %}
