{% macro render_field(field, label) %}
  {% if field.type == "SubmitField" %}
    {{ field(class_="btn btn-primary btn-group-justified", value=label) }}
  {% elif field.type == "MultiCheckboxField" %}
    <label for="{{ label }}">{{ label }}: </label>
    <br>
    {% for subfield in field %}
      <div class="checkbox">
	{{ subfield }}
	{{ subfield.label }}
	<br>
      </div>
    {% endfor %}

  {% elif field.type == "RadioField" %}
    <label for="{{ label }}">{{ label }}: </label>
    <br>
    {% for subfield in field %}
      {{ subfield }}
      {{ subfield.label }}
      <br>
    {% endfor %}
  {% elif field.type == "FileField" %}
    <label for="fname">{{ label }}:</label>
    {{ field(class_="", value_=field.data) }}
    {% if field.errors %}
      <span class="has-error help-block">{{ field.errors[0] }}</span>
    {% endif %}
    <br>
  {% else %}
    {% if field.errors %}
      <div class="form-group has-error">
    {% else %}
      <div class="form-group">
    {% endif %}
    <label for="fname">{{ label }}:</label>
    {{ field(class_="form-control", value_=field.data) }}
    {% if field.errors %}
      <span class="help-block">{{ field.errors[0] }}</span>
    {% endif %}
      </div>
  {% endif %}
{% endmacro %}
